body{
    background-color:white;
    color:#00AEEF;
    margin:0px;
    
}

h1{
    text-align: left;
    padding-left:80px;
    padding-top:30px;
}

h2{
    text-align:left;
    padding-left:80px;
}

.navigation_container{
    display:grid;
    grid-template-columns: repeat(5,20%);
    text-align:center;
    
}

.nav_item{
    border: 2px solid #00AEEF;
    font-size: 19px;
    padding:10px;
}


.home_container{
    display:grid;
    grid-template-columns: repeat(2,50%);
    /*text-align: center;*/
}

.home_item{
    border: 2px solid #00AEEF;
    border-top:0px;
}

.team_container{
    display:grid;
    padding-left:5%;
    padding-right:5%;
    padding-top:20px;
    padding-bottom:10px;
    grid-template-columns: repeat(3,33%);
    grid-gap: 20px;
    border: 2px solid #00AEEF;
    border-top:0;
    border-bottom:0;
}

.about_container{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-gap:15px;
    border: 2px solid #00AEEF;
    border-top:0;
    padding-left: 5%;
    padding-right: 5%;
}

.contact_container{
    border: 2px solid #00AEEF;
    font-size:25px;
    text-align:center;
    padding:15px;
    border-top:0;
}

.button{
    background-color: white;
    border: 2px solid #00AEEF;
    border-radius:10px;
    text-decoration: none;
    color: #00AEEF;
    margin-bottom: 50px;
    text-align: center;
    font-size:30px;
    padding: 12px;
    margin-left:80px;
    
}

.circle{
    color: #00AEEF;
    border :2px solid #00AEEF;
    padding-top:200px;
    padding: 130px;
    text-align: center;
    font-size: 18px;
    margin-top:150px;
    /*margin-left: 30px;*/
    margin-right: 30px;
    margin-bottom: 100px;
    border-radius:50%;
}


.circle1:hover{
    background-color:#00AEEF;
    color:white;
}
.circle2:hover{
   background-color:#0000FF;
   color:white;
}
.circle3:hover{
    background-color:#FF00FF;
    color:white;
}

.card{
    color: #00AEEF;
    border: 2px solid #00AEEF;
    border-radius:50px;
    padding: 80px;
    font-size:18px;
    text-align: center;
    margin:20px;
    margin-top:50px;
    margin-bottom: 150px;
}


.card:hover{
    color:white;
    background-color:#00AEEF;
}


.button:hover{
    background-color: #00AEEF;
    color: white;
}


a:link, a:visited{
    color: #00AEEF;
    text-decoration: none;
}

a:hover, a:active{
    color: white;
    text-decoration: none;
    background-color:powderBlue;
}

#logo{
    border-right:0!important;
    font-variant: small-caps;
    font-size:22px!important;
    padding:8px!important;
}

#home{
    border-right:0!important;
}

#team{
    border-right: 0!important;
}

#about{
    border-right:0!important;
}

#home_text{
    padding:10px 80px 30px 80px;
    text-align: left;
}

#menu_text{
    border-right:0!important;
}

#img_home{
    height: 100%;
    width: 100%;
}


